# vim: foldmethod=marker ts=4 sw=4 autoindent ft=bash
# .bashrc

PATH="$HOME/.local/bin:$HOME/bin:$HOME/npm/node_modules/.bin:$PATH"
[ -e "$HOME/.cargo/bin" ] && PATH="$HOME/.cargo/bin:$PATH"
export PATH

export GIT_EDITOR=vim
# Required git-prompt.sh is sourced in OS-specific bashrc or bash_profile
export GIT_PS1_SHOWDIRTYSTATE=1
export PS1='[$(date +%H:%M:%S)] \w$(__git_ps1 " (%s)")> '

if [ -e "/usr/bin/go" ]; then
    export GO111MODULE=on
    export GOPATH="{{ go_home }}"
    export GOPROXY="{{ go_proxy }}"
fi

alias bat='bat --theme TwoDark'
alias grep='grep --exclude=*.pyc --exclude=.git --exclude=.venv --color'
alias k=kubectl
alias onedrive_sync='onedrive --synchronize'
alias pm=podman
alias t=tkn

alias g=git
alias gita='git add'
alias gitd='git diff'
alias gitdiff='git diff'
alias gitlog='git log'
alias git-log-view='git log --oneline --branches --graph --decorate=auto'
alias gits='git status'
alias git-show-top-patch='git log -p -1'

git-stats-commit-count-by-author() {
    git log --format="%an" | sort | uniq -c | sort -k1 -n --reverse
}

alias venvnew='${pybin:-python3} -m venv .venv'
alias venvdrop='[ -e ".venv" ] && rm -r .venv'
alias venvon='source ./.venv/bin/activate'
alias venvoff='deactivate'
alias venvi='python3 -m pip install'

alias login-aliyun-vm-as-root='ssh root@aliyun-vm'
alias login-aliyun-vm='ssh {{ aliyun_vm_user }}@aliyun-vm'

pypi_download_source() {
    python3 -m pip download --no-binary :all: --no-deps $@
}

g-sync-up-with-upstream() {
    local -r branch=${1:-master}
    git fetch upstream
    git checkout "$branch"
    git merge "upstream/$branch"
}
