# vim: foldmethod=marker ts=4 sw=4 autoindent ft=bash

. /usr/local/Cellar/git/$(git version | cut -d' ' -f3)/etc/bash_completion.d/git-prompt.sh

. ~/.bashrc.common

[[ -r "/usr/local/etc/profile.d/bash_completion.sh" ]] && . "/usr/local/etc/profile.d/bash_completion.sh"

PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"
PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"
PATH="/usr/local/opt/krb5/bin:$PATH"
PATH="/usr/local/opt/krb5/sbin:$PATH"
PATH="/usr/local/opt/make/libexec/gnubin:$PATH"
PATH="{{ ansible_user_dir }}/Library/Python/{{ ansible_python.version.major }}.{{ ansible_python.version.minor }}/bin:$PATH"
export PATH

# Homebrew remote mirrors
export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/brew.git"
export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-core.git"
export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles"

